<!DOCTYPE html>
<html>
<head>
    <title>Flask MySQL App</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li>{{ user.uid }} {{ user.first_name }} {{ user.last_name }}</li>
        {% endfor %}
    </ul>

    <h2>Add User</h2>
    <form action="/add" method="post">
        <input type="text" name="uid" placeholder="waterloo id" required>
        <input type="text" name="fname" placeholder="first name" required>
        <input type="text" name="lname" placeholder="last name" required>
        <input type="text" name="startyear" placeholder="start year" required>
        <button type="submit">Add User</button>
    </form>

    <h2>Ratings</h2>

    <form action="/submit-ratings" method="post">
        <table>
            {% for course in takenCourses %}
            <tr>
                <td>{{ course.course_code }}</td>
                <td><input type="text" name="{{ course.course_code }}" value="{{ course.rating }}" /></td>
                <td>out of 5</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
