<!DOCTYPE html>
<html>
<head>
    <title>Course Connect</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <p><a href="/signup">Sign Up</a> | <a href="/login">Login</a></p>
    {%if session['username'] %}
    <p> Welcome {{ session['lname']}}, {{ session['fname'] }}! You are currently signed in.</p>
    <p><a href="/logout">Logout</a></p>
    {% else %}
    <p> You are currently not signed in.</p>
    {% endif %}
    <h2>Users</h2>
    <ul>
        {% for user in users %}
        <li>{{ user.uid }} {{ user.first_name }} {{ user.last_name }} {{ user.start_year }} </li>
        {% endfor %}
    </ul>

    <h2>Add User</h2>
    <form action="/add" method="post">
        <input type="text" name="uid" placeholder="waterloo id" required>
        <input type="text" name="fname" placeholder="first name" required>
        <input type="text" name="lname" placeholder="last name" required>
        <input type="text" name="startyear" placeholder="start year" required>
        <button type="submit">Add User</button>
    </form>


    <h2>Course Search</h2>
    <form method="POST" action="{{ url_for('search') }}">
        <input type="text" name="query" placeholder="Enter a course code">
        <select name="subjectfilter">
                <option value="All" selected> All Subjects </option>
            {% for subject in subjectDropdown %}
                <option value="{{ option }}">{{ subject.subject_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% elif courses %}
        <h>Search Results for "{{ query }}"</h2>
        <ul>
        {% for course in courses %}
            <li>
                <h3>{{ course.course_name }}</h3>
                <p>Course Code: {{ course.course_code }}</p>
                <p>Subject: {{ course.subject_code }}</p>
                <p>Course Rating: {{ course.rating }}</p>
                
                <form method="POST" action="{{ url_for('add_course') }}">
                    <input type="hidden" name="course_code" value="{{ course.course_code }}">
                    <button type="submit">Add Course</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if results %}
        <h2>Search Results</h2>
        <ul>
        {% for item in results %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Ratings</h2>
    {% if session['username'] %}
    <form action="/submit-ratings" method="post">
        <table>
            {% for course in takenCourses %}
            <tr>
                <td>{{ course.course_code }}</td>
                <td><input type="text" name="{{ course.course_code }}" value="{{ course.rating }}" /></td>
                <td>out of 5</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
    {%else%}
    <p>Please sign in to be able to rate your current courses</p>
    {% endif %}

    <h2>Top Courses</h2>
    <form action="/charts" ethod="get">
        <button type="submit">View Top Rated Courses</button>
    </form>
</body>
</html>
